body {
  background-color: #222;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
}

.name-container {
  margin-top: 15vh;
}

.name-header {
  font-size: 9vh;
}

.social-link {
  font-size: 6vh;
}

.github {
  color: #ff9994;
}

.linkedin {
  color: #ECBE7A;
}

.resume {
  color: #9DABDD;
}

.hover-turbulence:hover {
  filter: url(#turbulence);
} 

/* @media only screen and (min-device-width : 320px) and (max-device-width : 600px)  {
  .name-header {
    font-size: 170px;
  }

  .social-link {
    font-size: 7em;
  }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .name-header {
    font-size: 170px;
  }

  .social-link {
    font-size: 7em;
  }
}

@media only screen and (min-width: 768px) {
  .name-header {
    font-size: 100px;
  }

  .social-link {
    font-size: 5em;
  }
}

@media only screen  and (min-width : 1224px) {
  .name-header {
    font-size: 120px;
  }

  .social-link {
    font-size: 4em;
  }
} */