body {
  background-color: #222;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
}

.name-container {
  margin-top: 5vh;
}

.name-header {
  font-size: 9vh;
}

.fb-container {
  margin-top: 5vh;
}

.fb-at {
  color: #D9EFFC;
  font-size: 2em;
}

.fb-img {
  display: inline-block;
  max-width: 270px;
}

@media (min-width: 640px) {
  .social-row {
    justify-content: center !important;
  }
}

.social-row {
  margin-top: 10vh;
  justify-content: space-around;
}

.social-link {
  font-size: 6vh;
}

.github {
  color: #ff9994;
}

.linkedin {
  color: #ECBE7A;
}

.resume {
  color: #9DABDD;
}

.feast {
  color: #B8E6B8;
}

.hover-turbulence:hover {
  filter: url(#turbulence);
  -webkit-filter: url("#turbulence");
}

.infinite-turbulence > svg {
  filter: url(#turbulence);
  -webkit-filter: url("#turbulence");
}


@media (min-device-width: 640px) {
  .social-link {
    margin: auto 20px;
  }

  .name-container {
    margin-top: 15vh;
  }

  .fb-container {
    margin-top: 9vh;
  }

  .social-row {
    justify-content: center !important;
    margin-top: 15vh;
  }
}